@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.body {
  font-family: "Source Code Pro", monospace;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-snap-align: center;
  scroll-snap-type: y mandatory;
  overflow: hidden;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.content-wrap {
  flex: 1;
}
